<header class="shadow">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="main-logo" src="{{ asset('/images/app/logo.png') }}" alt="ThéTipTop logo">
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-dark">Overview</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Inventory</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Customers</a></li>
                <li><a href="#" class="nav-link px-2 link-secondary">Products</a></li>
            </ul>

            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fas fa-user-circle fa-2x text-success"></i>
                </a>
                <ul class="dropdown-menu text-small">
                    {% if app.user %}
                    {% if is_granted('ROLE_USER') %}
                    <li><a class="dropdown-item" href="#">Mon compte</a></li>
                    <li><a class="dropdown-item" href="#">Mes gains</a></li>
                    <li><a class="dropdown-item" href="#">Participer au concours</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a class="dropdown-item" href="#">Statistiques</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_CASHIER') %}
                    <li><a class="dropdown-item" href="#">Visualiser les gains attribués</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>