<header class="shadow">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="{{ path('home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                <img class="main-logo" src="{{ asset('/images/app/logo.png') }}" alt="ThéTipTop logo">
            </a>

            <div class="dropdown ms-auto text-end">
                <a href="#" class="d-flex justify-content-between align-items-center link-dark text-decoration-none dropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {% if app.user %}
                    <span class="user-firstname me-2">{{ app.user.firstName }}</span>
                    {% endif %}
                    <i class="fas fa-user-circle fa-2x text-success"></i>
                </a>
                <ul class="dropdown-menu text-small">
                    {% if app.user %}
                    {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_EMPLOYEE') %}
                    <li><a class="dropdown-item" href="{{ path('my-account') }}">Mon compte</a></li>
                    <li><a class="dropdown-item" href="{{ path('myearnings') }}">Mes gains</a></li>
                    <li><a class="dropdown-item" href="{{ path('participate') }}">Participer au concours</a></li>
                    {% elseif is_granted('ROLE_ADMIN') or is_granted('ROLE_EMPLOYEE') %}
                    <li>
                        <a class="dropdown-item" href="{{ path('admin') }}">
                            {{ is_granted('ROLE_ADMIN') ? 'Espace administrateur' : 'Espace employé' }}
                        </a>
                    </li>
                    {% endif %}
                    <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{{ path('app_login') }}">Connexion</a></li>
                    <li><a class="dropdown-item" href="{{ path('app_register') }}">Inscription</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>