<!DOCTYPE html>
<html>

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3L6SMV6BD5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3L6SMV6BD5');
    </script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | ThéTipTop</title>
    <link rel="icon" href="{{ asset('/images/app/logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Thé Tip Top">
    <meta name="author" content="Thé Tip Top">
    <meta name="generator" content="Thé Tip Top">
    <meta name="robots" content="index, follow">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% include "./partials/header.html.twig" %}
</head>

<body>
    <div class="container-fluid">
        {% block body %}{% endblock %}
    </div>
    {% include "./partials/footer.html.twig" %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: '{{ label }}',
            title: '{{ (message == "success") ? "Succès" : "Erreur" }}',
            text: '{{ message }}',
            showConfirmButton: false,
            timer: 2000
        })
    </script>
    {% endfor %}
    {% endfor %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>