<!DOCTYPE html>
<html>

<head>
    <script data-cookiecategory="analytics" async src="https://www.googletagmanager.com/gtag/js?id=G-3L6SMV6BD5"></script>
    <script data-cookiecategory="analytics">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-3L6SMV6BD5');
    </script>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | ThéTipTop</title>
    <link rel="icon" href="{{ asset('/images/app/logo.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Découvrez la société ThéTipTop, spécialisée dans la promotion de thés bios et artisanaux de qualité supérieure. Avec l'ouverture de leur 10ème boutique à Nice, ThéTipTop organise un jeu-concours pour ses clients, où 100% des tickets gagnent un prix, allant d'infuseurs à thé aux coffrets découverte. Retrouvez sur vos tickets de caisse un numéro à 10 chiffres pour participer au tirage au sort. Ne manquez pas cette occasion de découvrir les thés signatures de ThéTipTop !">
    <meta name="keywords" content="ThéTipTop, Thés de grande qualité, Thés détox, Thés bios et Handmades, Jeu-concours, Tirage au sort, Infuseur à thé, Thé signature, Coffret découverte, Boutique à Nice, Promotion de thés, 100% des tickets gagnants, Thés blancs, Thés légumes, Infusions">
    <meta name="author" content="ThéTipTop">
    <meta name="generator" content="ThéTipTop">
    <meta name="robots" content="index, follow">
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% include "./partials/header.html.twig" %}
</head>

<body>
    <div class="container-fluid main">
        {% block body %}{% endblock %}
    </div>
    {% include "./partials/footer.html.twig" %}

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% for label, messages in app.flashes %}
    {% for message in messages %}
    <script>
        Swal.fire({
            icon: '{{ label }}',
            title: '{{ (label == "success") ? "Succès" : "Erreur" }}',
            text: '{{ message }}',
            showConfirmButton: false
        })
    </script>
    {% endfor %}
    {% endfor %}
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>