{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock %}

{% block body %}

<div id="home">
    <section id="cover-section" class="row d-flex align-items-center">
        <div class="px-md-4 py-5 my-md-5 text-center title-card text-white d-sm-grid">
            <img class="d-block mx-auto mb-4 img-card" src="{{ asset('/images/home/TheTipTop-white.png') }}"
                alt="ThéTipTop logo">
            <h1 class="display-5 fw-bold">ThéTipTop</h1>


            <h1 class="display-5 fw-bold" {{ stimulus_controller('symfony/ux-typed', {
                strings: [
                    'Jeu concours',
                ],
                showCursor: false
            }) }}></h1>


            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">ThéTipTop est une société ayant pour activité la promotion de gammes de thés de
                    très grande qualité avec
                    des mélanges signatures de l’entreprise, des thés détox, des thés blancs, des thés légumes,
                    infusions, etc.
                    L’ensemble des thés sont bios et Handmades</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="{{ path('participate') }}" class="button btn-lg px-4">Participer au jeu</a>
                    <a href="#desc-section" class="button btn-lg px-4">Descriptif du jeu</a>
                </div>
            </div>
        </div>
    </section>
    <div class="container body">
        <section id="desc-section" class="row rounded-3 border shadow-lg">
            <div class="col-md-12 col-lg-8 p-5">
                <h2 class="display-4 fw-bold lh-1 mb-3 mb-lg-5 text-sm-center text-lg-start">Descriptif du jeu</h2>
                <p class="lead">Le jeu concours <b>ThéTipTop</b> se déroule sur une durée de 30 jours et offre
                    la
                    distribution de 1 500 000 tickets. Pour être éligible à ce concours, il est nécessaire d'acheter des
                    produits de thé d'une valeur minimale de 49 euros. À cet effet, un ticket de caisse comportant un
                    code à
                    10 chiffres sera automatiquement généré.
                    À l'issue du jeu-concours, un tirage au sort sera effectué parmi tous les participants afin de
                    déterminer le
                    gagnant d'un an de thé d'une valeur de 360€
                </p>
                <p class="lead">Il est important de noter que ce jeu-concours est 100 % gagnant.</p>
            </div>
        </section>

        <section id="gifts-section" class="row d-flex align-content-center justify-content-center mt-5 py-5">
            <h2 class="display-4 fw-bold lh-1 text-center mb-5">Cadeaux à gagner</h2>
            <div class="gifts mt-4">
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/infuseur_the.webp') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Infuseur thé</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">10&euro;</h6>
                            <p class="card-text">L'infuseur est composé d'acier inoxydable de qualité alimentaire.</p>
                        </div>
                    </div>
                </div>
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/the_detox_100.jpg') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Thé détox</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">5.76&euro;</h6>
                            <p class="card-text">Le thé détox est un mélange de thé vert et morceaux de fruits.</p>
                        </div>
                    </div>
                </div>
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/infuseur_the.webp') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Infuseur thé</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">10&euro;</h6>
                            <p class="card-text">L'infuseur est composé d'acier inoxydable de qualité alimentaire.</p>
                        </div>
                    </div>
                </div>
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/the_detox_100.jpg') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Thé détox</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">5.76&euro;</h6>
                            <p class="card-text">Le thé détox est un mélange de thé vert et morceaux de fruits.</p>
                        </div>
                    </div>
                </div>
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/infuseur_the.webp') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Infuseur thé</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">10&euro;</h6>
                            <p class="card-text">L'infuseur est composé d'acier inoxydable de qualité alimentaire.</p>
                        </div>
                    </div>
                </div>
                <div class="gift">
                    <div class="card pt-3 shadow bg-body-tertiary rounded" style="width:18rem;">
                        <img src="{{ asset('/images/home/the_detox_100.jpg') }}" class="card-img-top"
                            alt="infuseur thé">
                        <div class="card-body">
                            <h5 class="card-title">Thé détox</h5>
                            <h6 class="card-subtitle mb-2 text-muted price">5.76&euro;</h6>
                            <p class="card-text">Le thé détox est un mélange de thé vert et morceaux de fruits.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="news-section" class="row d-flex align-items-center justify-content-center">
            <div class="container col-12 col-md-10 px-4 py-5">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <h2 class="display-4 fw-bold lh-1 my-3">Restez informé</h2>
                        <p class="col-lg-10 fs-4">Inscrivez-vous à notre newsletter pour être informé des dernières
                            nouveautés
                            et
                            promotions.</p>
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        {# newsletter form #}
                        <form class="p-4 p-md-5 border rounded-3 bg-light">
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" placeholder="">
                                <label for="floatingInput">Email address</label>
                            </div>
                            <button class="w-100 btn btn-lg btn-outline-success" type="submit">S'abonner</button>
                            <hr class="my-4">
                            <small class="text-muted">En cliquant sur S'abonner, vous acceptez les conditions
                                d'utilisation et la politique de confidentialité.</small>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('home') }}
{% endblock %}